<div class="content-header animated fadeIn">
    <!-- leftside content header -->
    <div class="leftside-content-header">
        <ul class="breadcrumbs">
            <li ng-repeat="breadcrumb in get().breadcrumbs">
                <i class="fa fa-{{ breadcrumb.icon }}" aria-hidden="true"></i>
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
            </li>
        </ul>
    </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
<div class="row animated fadeInUp">
    <!-- components.manage-operation -->
    <form name="operationForm" method="post" class="panel-body animated fadeUp" ng-submit="submit(operationForm)" novalidate>

        <!-- components.manage-operation success -->
        <div class="panel p-sm bg-success animated fadeIn color-w" ng-show="success.length && operationForm.$pristine">
            <h4 class="font2">Success!</h4>
            <p>{{ success }}</p>
        </div>

        <!-- components.manage-operation error -->
        <div class="panel p-sm bg-danger animated fadeIn color-w" ng-show="hasError( operationForm ) || errors.length">
            <h4 class="font2">Form Errors</h4>
            <div>
                <ul>

                    <!-- General Errors -->
                    <li ng-repeat="error in errors">
                        {{ error }}
                    </li>

                    <!-- Operation Name Error -->
                    <li ng-show="operationForm.error.name = ( operationForm.name.$dirty && operationForm.name.$invalid )" ng-messages="operationForm.name.$error">
                        <span ng-message="required">Name is required</span>
                    </li>

                </ul>
            </div>
        </div>

        <!-- components.manage-operation -->
        <main id="operation-management" ng-show="operation" class="border panel panel-default b-primary bt-sm">
            <header class="font2 panel-heading">

                <i class="fa fa-{{ page.icon }}"></i>
                {{ page.action }} {{ page.title }}

            </header>
            <div class="panel-body ">

                <!-- Operation Source -->
                <div class="form-group clearfix" ng-if="sources" ng-class="{ 'has-success' : !operationForm.sources.$invalid && operationForm.sources.$dirty}">
                    <label  for="sources">Source:</label>
                    <div class="input-group">
                        <multiselect
                                name="sources"
                                options="sources.data"
                                selected-model="operation.source"
                                extra-settings="sources.settings"
                                events="sources.events"
                                translation-texts="{ buttonDefaultText: 'Sources' }"
                                ng-dropdown-multiselect="sources"
                        ></multiselect>
                    </div>
                </div>

                <!-- Operation Date -->
                <div class="form-group clearfix" ng-class="{ 'has-error' : operationForm.date.$invalid && operationForm.date.$dirty , 'has-success' : !operationForm.date.$invalid && operationForm.date.$dirty }">
                    <label for="date" class="control-label">Date:</label>
                    <div class="input-group">
                        <input type="text" class="form-control "
                               uib-datepicker-popup
                               ng-model="operation.date"
                               is-open="datepickerOptions.open"
                               datepicker-options="datepickerOptions"
                               ng-required="true"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>

                <!-- Operation Time -->
                <div class="form-group clearfix" ng-class="{ 'has-error' : operationForm.date.$invalid && operationForm.date.$dirty , 'has-success' : !operationForm.date.$invalid && operationForm.date.$dirty }">
                    <label for="time">Time:</label>
                    <div class="input-group">
                        <div uib-timepicker ng-model="operation.date"></div>
                    </div>
                </div>

                <!-- Operation Amount -->
                <div class="form-group clearfix" ng-class="{ 'has-error' : operationForm.amount.$invalid && operationForm.amount.$dirty , 'has-success' : !operationForm.amount.$invalid && operationForm.amount.$dirty }">
                    <label for="amount">Amount:</label>
                    <span class="input-group">
                        <input type="number" id="amount" name="amount" class="form-control"  placeholder="Amount" ng-model="operation.amount" required>
                    </span>
                </div>

                <!-- Operation ProductList -->
                <div class="form-group clearfix" ng-if="productList" ng-class="{ 'has-success' : !operationForm.sources.$invalid && operationForm.sources.$dirty}">
                    <label for="product_list">Product List:</label>
                    <div class="input-group">
                        <multiselect
                                name="productList"
                                options="productList.data"
                                selected-model="operation.product_list"
                                extra-settings="productList.settings"
                                translation-texts="{ buttonDefaultText: 'Product List' }"
                                ng-dropdown-multiselect="productList"
                        ></multiselect>
                    </div>
                </div>

                <div class="form-group">

                    <div class="row">
                        <div class="col-md-6">
                            <!-- Back Button -->
                            <div class="pull-left">
                                <a ng-click="back( '/operation' )"
                                   class="btn bgeee coloraaa hoverbg555 hovercolorfff">
                                    <i class="fa fa-arrow-circle-o-left"></i>
                                    Back to List
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">

                                <!-- Form Error Notices -->
                                <small class="colorred submitnotice" ng-show="hasError( operationForm )">
                                    You must fix any form errors before proceeding: * See Errors at Top *
                                </small>

                                <!-- Submitting Wait Notice -->
                                <small class="colorinfo submitnotice" ng-show="page.sending">
                                    <i class="fa fa-circle-o-notch fa-spin colorinfo"></i>
                                    {{ page.running }} - Please wait.
                                </small>

                                <!-- Submit Button -->
                                <button name="submit" class="btn fright" ng-class="hasError( operationForm ) || errors.length ? 'btn-danger' : 'btn-primary'" ng-disabled="operationForm.$invalid || sending">
                                    <i class="fa fa-{{ page.icon }}"></i>
                                    {{ page.action }}
                                </button>

                                <!-- /End .fright -->
                            </div>
                        </div>
                    </div>

                    <!-- /End .form-group -->
                </div>

                <!-- /End .panel-body -->
            </div>

        </main>

    </form>
</div>