<div class="content-header animated fadeIn">
    <!-- leftside content header -->
    <div class="leftside-content-header">
        <ul class="breadcrumbs">
            <li ng-repeat="breadcrumb in get().breadcrumbs">
                <i class="fa fa-{{ breadcrumb.icon }}" aria-hidden="true"></i>
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
            </li>
        </ul>
    </div>
</div>

<!--LIST-->
<div class="row animated fadeInUp">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-header bg-scale-0">
                <div class="row">
                    <div class="col-md-6">
                        <h4>List of <span class="highlight">Operations</span></h4>
                        <h6 class="panel-subtitle">Total count <b>{{ page.total }}</b></h6>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <pagination-limit class="pull-right"></pagination-limit>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a ng-click="open( '/operation/add' )" class="btn btn-sm btn-primary mt-xs pull-right">Add New Operation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-content table-responsive">
                <table ng-show="page.data.length > 0 && page.list.loading == false" class="table table-hover projects-list" cellspacing="0" cellpading="0" border="0" width="100%">
                    <thead>
                    <tr class="row header-project-list">
                        <th>#</th>
                        <th>Source name</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--ITEMS-->
                    <tr class="row item-project-list" dir-paginate="operation in page.data | itemsPerPage:page.showing" total-items="page.total" current-page="page.current">
                        <td class="p-project">
                            <div class="p-progress">{{ operation.id }}</div>
                        </td>
                        <td class="p-project">
                            <div class="p-name">{{ operation.source.name }}</div>
                        </td>
                        <td class="p-project">
                            <div class="p-name">{{ operation.amount }}</div>
                        </td>
                        <td class="p-project">
                            <div class="p-name">{{ operation.date }}</div>
                        </td>
                        <td class="p-options">
                            <div class="btn-group">
                                <a class="btn fa fa-pencil" data-toggle="tooltip" title="Edit" ng-click="open('/operation/edit/' + operation.id )"></a>
                                <a class="btn fa fa-trash" data-toggle="tooltip" title="Delete" ng-click="delete( operation )"></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- loading -->
                <div ng-show="page.list.loading == true">
                    <h4 class="text-center">Loading</h4>
                </div>
                <!-- No Results -->
                <div ng-show="page.data.length == 0 && page.list.loading == false">
                    <h4 class="text-center">Not found Operations</h4>
                </div>
                <dir-pagination-controls on-page-change="load(newPageNumber)"></dir-pagination-controls>
            </div>
        </div>
    </div>
</div>