<!-- content HEADER -->
<!-- ========================================================= -->
<div class="content-header">
    <!-- leftside content header -->
    <div class="leftside-content-header">
        <ul class="breadcrumbs">
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">Dashboard</a></li>
        </ul>
    </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
<div class="row animated fadeInUp">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 col-md-4" ng-repeat="source in sources">
                <div class="panel widgetbox wbox-2 bg-scale-0">
                    <a href="#">
                        <div class="panel-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <h1 class="title color-primary text-left">{{source.name}}</h1>
                                    <h4 class="subtitle color-darker-1">{{source.amount}}</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel">
                <div class="panel-content">
                    <canvas id="line" class="chart chart-line"
                            chart-data="data"
                            chart-labels="labels"
                            chart-series="series">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->