/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* COMPONENT - HAMBURGER ICONS */
/*================================================*/
$button-width: $width-left-sidebar-collapsed;
$button-height: $height-left-sidebar-header; // The height of the button area
$bar-thickness: 3px; // The thickness of the button bars
$button-pad: 18px; // The left/right padding between button area and bars.
$button-bar-space: 4px; // The spacing between button bars
$button-transistion-duration: 0.5s; // The transition duration
.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: $button-width;
    height: $button-height;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background $button-transistion-duration;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: ($button-height / 2) - ($bar-thickness / 2);
    left: $button-pad;
    right: $button-pad;
    height: $bar-thickness;
    background: rgb(255, 255, 255);
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: $bar-thickness;
    background-color: #fff;
    content: "";
}


.c-hamburger--htla span {
    transition: transform $button-transistion-duration;
}

.c-hamburger--htla span::before,
.c-hamburger--htla span::after {}

.c-hamburger--htla span::before {
    transform-origin: top right;
    transition: transform $button-transistion-duration, width $button-transistion-duration, top $button-transistion-duration;
}

.c-hamburger--htla span::after {
    transform-origin: bottom right;
    transition: transform $button-transistion-duration, width $button-transistion-duration, bottom $button-transistion-duration;
}

.c-hamburger--htla span {
    transform: rotate(180deg);
}

.c-hamburger--htla span::before,
.c-hamburger--htla span::after {
    width: 50%;
}

.c-hamburger--htla span::before {
    top: 0;
    transform: translateX($button-width/2 - $button-pad + $bar-thickness) translateY($bar-thickness/2) rotate(45deg);
}

.c-hamburger--htla span::after {
    bottom: 0;
    transform: translateX($button-width/2 - $button-pad + $bar-thickness) translateY(-$bar-thickness/2) rotate(-45deg);
}


/* active state, i.e. menu open */

body.left-sidebar-collapsed {
    .c-hamburger--htla span {
        transform: none;
    }
    .c-hamburger--htla span::before,
    .c-hamburger--htla span::after {
        width: 100%;
    }
    .c-hamburger--htla span::before {
        top: $bar-thickness + $button-bar-space;
        transform: none;
    }
    .c-hamburger--htla span::after {
        top: -$bar-thickness - $button-bar-space;
        transform: none;
    }
}
