<!-- LEFT SIDEBAR -->
<!-- ========================================================= -->
<div class="left-sidebar">
    <!-- left sidebar HEADER -->
    <div class="left-sidebar-header">
        <div class="left-sidebar-title">Navigation</div>
        <div class="left-sidebar-toggle c-hamburger c-hamburger--htla hidden-xs" data-toggle-class="left-sidebar-collapsed" data-target="html">
            <span></span>
        </div>
    </div>
    <!-- NAVIGATION -->
    <!-- ========================================================= -->
    <div id="left-nav" class="nano">
        <div class="nano-content">
            <nav>
                <ul class="nav" id="main-nav">
                    <!--HOME-->
                    <li ng-class="selected( '/' , 'active-item' , '' )"><a ng-click="open( '/' )"><i class="fa fa-home" aria-hidden="true"></i><span>Dashboard</span></a></li>
                    <!--<li ng-class="selected( '^/config*' , 'active-item' , '' )"><a ng-click="open( '/config' )"><i class="fa fa-home" aria-hidden="true"></i><span>Config</span></a></li>-->
                    <li ng-class="selected( '^/source*' , 'active-item' , '' )"><a ng-click="open( '/source' )"><i class="fa fa-home" aria-hidden="true"></i><span>Source</span></a></li>
                    <li ng-class="selected( '^/operation*' , 'active-item' , '' )"><a ng-click="open( '/operation' )"><i class="fa fa-home" aria-hidden="true"></i><span>Operation</span></a></li>
                    <li class="has-child-item" ng-class="selected( '^/product*' , 'open-item' , 'close-item' )">
                        <a><i class="fa fa-cogs" aria-hidden="true"></i><span>Products</span></a>
                        <ul class="nav child-nav level-1">
                            <li ng-class="selected( '^/product/category*' , 'active-item' , '' )"><a ng-click="open( '/product/category' )">Categories</a></li>
                            <li ng-class="selected( '^/product/product_list*' , 'active-item' , '' )"><a ng-click="open( '/product/product_list' )">Lists</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>