/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* LEFT SIDEBAR SUBNAVIGATION */
/*================================================*/
ul#main-nav {
    ul.child-nav {
        li {
            a {
                &:before {
                    position: absolute;
                    content: "";
                    left: 28px;
                    top: 0px;
                    bottom: 0px;
                    border-left: 1px solid #2f2f2f;
                }
            }
            &:hover > a:before {
                border-color: $color-primary-lighter-1;
            }
            &.active-item {
                > a:before {
                    border-color: $color-primary !important;
                }
            }
            &.open-item {
                &:before {
                    position: absolute;
                    content: "";
                    left: 28px;
                    top: 42px;
                    bottom: 0px;
                    border-top: 1px solid $color-primary-lighter-1;
                    width: 23px;
                }
                > a {
                    &:before {
                        border-color: $color-primary-lighter-1;
                    }
                }
            }
            &.has-child-item {
                >a:after {
                    padding: 10px;
                }
            }
            // LEVEL 2
            //================================================
            .level-2 {
                li {
                    &.open-item {
                        &:before {
                            left: 50px;
                            top: 38px;
                            width: 21px;
                        }
                    }
                    a {
                        &:before {
                            left: 50px;
                        }
                    }
                    &.has-child-item {
                        >a:after {
                            padding: 8px;
                        }
                    }
                }
            }
            // LEVEL 3
            //================================================
            .level-3 {
                li {
                    a {
                        &:before {
                            left: 70px;
                        }
                    }
                }
            }
        }
    }
}
