/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
[Master Stylesheet]

Project:    HELSINKI
Version:    1.0 
author:     myii-developer 

-------------------------------------------------------------------------------------
[Table of contents]

1. Body
    2. wrap
        3. page-header
            4. leftside-header
            4. rightside-header
        3. page-body
            4. left-sidebar
            4. content
                5. content-header
            4. right-sidebar
            
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
html,
body {
    width: 100%;
    font-size: $text-base-size + 0px;
}

body {
    background: $bg-page-body;
    margin: 0;
    color: $text-body;
    font-family: $text-primary-font-family;
    line-height: 22px;
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    color: $color-primary;
}

a:hover,
a:focus {
    color: lighten($color-primary, 15%);
}

a:active {
    color: darken($color-primary, 15%);
}

a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

.row {
}

/* WRAPPER*/
/*================================================*/
.wrap {
    min-height: 100%;
    width: 100%;
}

/* PAGE HEADER*/
/*================================================*/
.page-header {
    height: $height-page-header;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    border: none;
}

/* PAGE BODY*/
/*================================================*/
.page-body {
    display: block;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: $height-page-header;
}

/*CONTENT OF THE PAGE*/
/*================================================*/
.content {
    display: block;
    position: relative;
    vertical-align: top;
    margin-left: $width-left-sidebar-open;
    padding: $width-content-padding;
    background: $bg-content;
    min-height: 100vh;
    > .row + .row {
        padding-top: 10px;
    }
}

.content-header {
    border-bottom: none;
    height: $height-content-header;
    padding: 0;
}

/* LEFT SIDEBAR*/
/*================================================*/
.left-sidebar {
    display: block;
    height: 100%;
    float: left;
    position: relative;
    width: $width-left-sidebar-open;
    z-index: $index-left-sidebar;
}

/* Left-sidebar COLLAPSE*/
/*================================================*/
body.left-sidebar-collapsed {
    .content {
        margin-left: $width-left-sidebar-collapsed;
    }
    .left-sidebar {
        width: $width-left-sidebar-collapsed;
    }
}

/* RIGHT SIDEBAR*/
/*================================================*/
.right-sidebar {
    display: block;
    height: 100%;
    float: right;
    position: relative;
    width: $width-right-sidebar-opened;
    z-index: $index-right-sidebar;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 50px;
    top: $height-page-header;
    margin-right: -$width-right-sidebar-opened;
    @include transition-property( margin);
    @include transition-duration( .25s);
    @include transition-timing-function( ease-out);
    @include transition-delay( 0);
    .nano-content {
        padding-bottom: 50px;
    }
}

/* right-sidebar OPENED*/
/*================================================*/
body.right-sidebar-opened {
    .right-sidebar {
        margin-right: 0;
    }
}

/* SCROLL TO TOP*/
/*================================================*/
    .scroll-to-top {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 40px;
        z-index: $index-scroll-to-top;
        height: 40px;
        display: none;
        border-radius: 50%;
        text-align: center;
        background: $color-primary;
        box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.53);
        i {
            color: $color-primary-inverse;
            font-size: 20px;
            width: 40px;
            height: 40px;
            padding: 10px;
        }
    }
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* STYLE - FIXED*/
/*================================================*/
@media only screen and (min-width: 768px) {
    body.fixed {
        .page-header {
            position: fixed;
            z-index: $index-page-header;
        }
        .content {
            margin-top: $height-content-header;
        }
        .content-header {
            position: fixed;
            z-index: $index-content-header;
            top: $height-page-header;
            left: $width-left-sidebar-open;
            right: 0;
            margin: 0;
            @include transition-property( left);
            @include transition-duration( .25s);
            @include transition-timing-function( ease-out);
            @include transition-delay( 0);
        }
        .left-sidebar {
            position: fixed;
            bottom: 0;
            left: 0;
            padding-bottom: 50px;
            top: $height-page-header;
            .nano-content {
                padding-bottom: 100px;
            }
        }
    }
    /* Fixed -  Left-sidebar collapse */
    body.fixed.left-sidebar-collapsed {
        .content {
            .content-header {
                left: $width-left-sidebar-collapsed;
            }
        }
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* STYLE - SCROLL*/
/*================================================*/
@media only screen and (min-width: 768px) {
    body.scroll,
    body.scroll-left-sidebar {
        .left-sidebar {
            position: absolute;
            .nano {
                position: static;
                overflow: visible;
                .nano-content {
                    position: static;
                    overflow: visible;
                    margin-right: 0 !important;
                    outline: none;
                }
                .nano-pane {
                    display: none !important;
                }
            }
        }
    }
    body.scroll,
    body.scroll-content-header {
        .content {
            margin-top: 0px;
        }
        .content-header {
            position: initial;
            margin: (-$width-content-padding) (-$width-content-padding) $width-content-padding (-$width-content-padding);
        }
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* MOBIL VERSION*/
/*================================================*/
@media only screen and (max-width: 767px) {
    body {
        .page-body {
            min-height: 0;
            padding-top: 0;
            .content {
                margin-left: 0px;
                padding: $width-content-padding-mobil;
            }
            .content-header {
                margin: (-$width-content-padding-mobil) (-$width-content-padding-mobil) $width-content-padding-mobil (-$width-content-padding-mobil);
            }
            .left-sidebar {
                bottom: 0;
                margin-left: -100%;
                min-height: 0;
                min-width: 100%;
                padding-bottom: 50px;
                position: fixed;
                overflow: hidden;
                top: $height-page-header;
                @include transition-property( margin);
                @include transition-duration( .25s);
                @include transition-timing-function( ease-out);
                @include transition-delay( 0);
            }
        }
    }
    body.left-sidebar-open {
        .left-sidebar {
            margin-left: 0;
        }
    }
}
