//PAGE HEADER
//================================================
$bg-page-header: $color-primary;

//CONTENT
//================================================
$bg-content: $color-scale-1;
$bg-content-header: $color-primary-lighter-1;

//LEFT SIDEBAR
//================================================
$bg-left-sidebar:$color-scale-5;
$bg-left-sidebar-header:$color-scale-6;
$bg-left-sidebar-toggle:$color-dark;

//RIGHT SIDEBAR
//================================================
$bg-right-sidebar: $color-light;

//PAGE BODY
//================================================
$bg-page-body: $bg-left-sidebar;


