/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/* PAGES - ACCOUNTS*/
/*================================================*/
html {
    body {
        min-height: 100vh;
    }
    &.accounts {
        .page-body {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 50px;
        }
        .logo {
            max-width: 420px;
            margin: 20px auto 0px;
            margin-bottom: 40px;
            img {
                display: block;
                margin: auto;
                width: 50%;
                min-width: 140px;
            }
        }
        .box {
            background: $color-light;
            border-radius: 5px;
            padding: 15px;
            max-width: 420px;
            margin: 20px auto 0px;
        }
    }
}

//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// SING IN
//================================================
body.sign-in {
    background: $color-scale-0;
    hr{
        border-color:$color-scale-2;
        width: 90%;
        margin: 15px auto;
    }
}

//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// FORGOT PASSWORD
//================================================
body.forgot-password {
    background: lighten($color-primary, 5%);
}

//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// LOCK SCREEN 
//================================================
body.lock-screen {
    background: $color-primary;
    background: url("../../images/bg/pattern.png") top center no-repeat;
}
.wrap {
    .box {
        max-width: 350px;
        padding: 0px;
    }
    .panel {
        .panel-content {
            border-radius: 5px;
        }
    }
}
.logo {
    max-width: 350px;
    /*margin-bottom: 50px;*/
    .avatar {
        margin: auto;
        max-width: 150px;
        box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.80);
        border-radius: 8px;
        background: darken($color-primary-darker-1, 2%);
        border: 2px solid $color-primary-darker-1;
        padding: 2px;
        img {
            width: 100%;
            border-radius: 8px;
            border: 2px solid darken($color-primary-darker-1, 10%);
        }
    }
}
