<div class="content-header animated fadeIn">
    <!-- leftside content header -->
    <div class="leftside-content-header">
        <ul class="breadcrumbs">
            <li ng-repeat="breadcrumb in get().breadcrumbs">
                <i class="fa fa-{{ breadcrumb.icon }}" aria-hidden="true"></i>
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
            </li>
        </ul>
    </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
<div class="row animated fadeInUp">
    <!-- components.manage-source -->
    <form name="sourceForm" method="post" class="panel-body animated fadeUp" ng-submit="submit(sourceForm)" novalidate>

        <!-- components.manage-source success -->
        <div class="panel p-sm bg-success animated fadeIn color-w" ng-show="success.length && sourceForm.$pristine">
            <h4 class="font2">Success!</h4>
            <p>{{ success }}</p>
        </div>

        <!-- components.manage-source error -->
        <div class="panel p-sm bg-danger animated fadeIn color-w" ng-show="hasError( sourceForm ) || errors.length">
            <h4 class="font2">Form Errors</h4>
            <div>
                <ul>

                    <!-- General Errors -->
                    <li ng-repeat="error in errors">
                        {{ error }}
                    </li>

                    <!-- Source Name Error -->
                    <li ng-show="sourceForm.error.name = ( sourceForm.name.$dirty && sourceForm.name.$invalid )" ng-messages="sourceForm.name.$error">
                        <span ng-message="required">Name is required</span>
                    </li>

                </ul>
            </div>
        </div>

        <!-- components.manage-source -->
        <main id="source-management" ng-show="source" class="border panel panel-default b-primary bt-sm">
            <header class="font2 panel-heading">

                <i class="fa fa-{{ page.icon }}"></i>
                {{ page.action }} {{ page.title }}

            </header>
            <div class="panel-body">

                <!-- Source Name -->
                <div class="form-group clearfix" ng-class="{ 'has-error' : sourceForm.name.$invalid && sourceForm.name.$dirty , 'has-success' : !sourceForm.name.$invalid && sourceForm.name.$dirty }">
                    <label for="name">Name</label>
                    <span class="input-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Source Name" ng-model="source.name" required>
                    </span>
                </div>

                <!-- Source Type -->
                <div class="form-group clearfix" ng-if="types" ng-class="{ 'has-success' : !sourceForm.types.$invalid && sourceForm.types.$dirty}">
                    <label for="types">Type:</label>
                    <div class="input-group">
                        <multiselect
                            name="types"
                            options="types.data"
                            selected-model="morph_type"
                            extra-settings="types.settings"
                            events="type.events"
                            translation-texts="{ buttonDefaultText: 'Type' }"
                            ng-dropdown-multiselect="types"
                        ></multiselect>
                    </div>
                </div>

                <ng-show ng-show="morph_type.id == 'privat'">

                    <!--Merchant ID-->
                    <div class="form-group">
                        <label for="merchant_id" class="col-sm-2 control-label">Merchant ID</label>
                        <div class="col-sm-10 input-group">
                            <input type="text" class="form-control" id="merchant_id" placeholder="Merchant ID" ng-model="source.morph.merchant_id">
                        </div>
                    </div>

                    <!--Merchant pass-->
                    <div class="form-group">
                        <label for="merchant_pass" class="col-sm-2 control-label">Merchant password</label>
                        <div class="col-sm-10 input-group">
                            <input type="text" class="form-control" id="merchant_pass" placeholder="Merchant password" ng-model="source.morph.merchant_pass">
                        </div>
                    </div>

                    <!--Card Number-->
                    <div class="form-group">
                        <label for="merchant_pass" class="col-sm-2 control-label">Card Number</label>
                        <div class="col-sm-10 input-group">
                            <input type="text" class="form-control" id="card_number" placeholder="Card Number" ng-model="source.morph.card_number">
                        </div>
                    </div>

                </ng-show>

                <div class="form-group">

                    <div class="row">
                        <div class="col-md-6">
                            <!-- Back Button -->
                            <div class="pull-left">
                                <a ng-click="back( '/source' )"
                                   class="btn bgeee coloraaa hoverbg555 hovercolorfff">
                                    <i class="fa fa-arrow-circle-o-left"></i>
                                    Back to List
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">

                                <!-- Form Error Notices -->
                                <small class="colorred submitnotice" ng-show="hasError( sourceForm )">
                                    You must fix any form errors before proceeding: * See Errors at Top *
                                </small>

                                <!-- Submitting Wait Notice -->
                                <small class="colorinfo submitnotice" ng-show="page.sending">
                                    <i class="fa fa-circle-o-notch fa-spin colorinfo"></i>
                                    {{ page.running }} - Please wait.
                                </small>

                                <!-- Submit Button -->
                                <button name="submit" class="btn fright" ng-class="hasError( sourceForm ) || errors.length ? 'btn-danger' : 'btn-primary'" ng-disabled="sourceForm.$invalid || sending">
                                    <i class="fa fa-{{ page.icon }}"></i>
                                    {{ page.action }}
                                </button>

                                <!-- /End .fright -->
                            </div>
                        </div>
                    </div>

                    <!-- /End .form-group -->
                </div>

                <!-- /End .panel-body -->
            </div>

        </main>

    </form>
</div>