<div class="content-header animated fadeIn">
    <!-- leftside content header -->
    <div class="leftside-content-header">
        <ul class="breadcrumbs">
            <li ng-repeat="breadcrumb in get().breadcrumbs">
                <i class="fa fa-{{ breadcrumb.icon }}" aria-hidden="true"></i>
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
            </li>
        </ul>
    </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
<div class="row animated fadeInUp">
    <!-- components.manage-category -->
    <form name="categoryForm" method="post" class="panel-body animated fadeUp" ng-submit="submit(categoryForm)" novalidate>

        <!-- components.manage-category success -->
        <div class="panel p-sm bg-success animated fadeIn color-w" ng-show="success.length && categoryForm.$pristine">
            <h4 class="font2">Success!</h4>
            <p>{{ success }}</p>
        </div>

        <!-- components.manage-category error -->
        <div class="panel p-sm bg-danger animated fadeIn color-w" ng-show="hasError( categoryForm ) || errors.length">
            <h4 class="font2">Form Errors</h4>
            <div>
                <ul>

                    <!-- General Errors -->
                    <li ng-repeat="error in errors">
                        {{ error }}
                    </li>

                    <!-- Category Name Error -->
                    <li ng-show="categoryForm.error.name = ( categoryForm.name.$dirty && categoryForm.name.$invalid )" ng-messages="categoryForm.name.$error">
                        <span ng-message="required">Name is required</span>
                    </li>

                </ul>
            </div>
        </div>

        <!-- components.manage-category -->
        <main id="category-management" ng-show="category" class="border panel panel-default b-primary bt-sm">
            <header class="font2 panel-heading">

                <i class="fa fa-{{ page.icon }}"></i>
                {{ page.action }} {{ page.title }}

            </header>
            <div class="panel-body ">

                <!-- Category Name -->
                <div class="form-group clearfix" ng-class="{ 'has-error' : categoryForm.name.$invalid && categoryForm.name.$dirty , 'has-success' : !categoryForm.name.$invalid && categoryForm.name.$dirty }">
                    <label for="name">Category Name</label>
                    <span class="input">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Category Name" ng-model="category.name" ng-value="category.name" required>
                    </span>
                </div>

                <div class="form-group">

                    <div class="row">
                        <div class="col-md-6">
                            <!-- Back Button -->
                            <div class="pull-left">
                                <a ng-click="back( '/product/category' )"
                                   class="btn bgeee coloraaa hoverbg555 hovercolorfff">
                                    <i class="fa fa-arrow-circle-o-left"></i>
                                    Back to List
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">

                                <!-- Form Error Notices -->
                                <small class="colorred submitnotice" ng-show="hasError( categoryForm )">
                                    You must fix any form errors before proceeding: * See Errors at Top *
                                </small>

                                <!-- Submitting Wait Notice -->
                                <small class="colorinfo submitnotice" ng-show="page.sending">
                                    <i class="fa fa-circle-o-notch fa-spin colorinfo"></i>
                                    {{ page.running }} - Please wait.
                                </small>

                                <!-- Submit Button -->
                                <button name="submit" class="btn fright" ng-class="hasError( categoryForm ) || errors.length ? 'btn-danger' : 'btn-primary'" ng-disabled="categoryForm.$invalid || sending">
                                    <i class="fa fa-{{ page.icon }}"></i>
                                    {{ page.action }}
                                </button>

                                <!-- /End .fright -->
                            </div>
                        </div>
                    </div>

                    <!-- /End .form-group -->
                </div>

                <!-- /End .panel-body -->
            </div>

        </main>

    </form>
</div>