<div class="content-header animated fadeIn">
    <!-- leftside content header -->
    <div class="leftside-content-header">
        <ul class="breadcrumbs">
            <li ng-repeat="breadcrumb in get().breadcrumbs">
                <i class="fa fa-{{ breadcrumb.icon }}" aria-hidden="true"></i>
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
            </li>
        </ul>
    </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
<div class="row animated fadeInUp">
    <!-- components.manage-product_list -->
    <form name="productListForm" method="post" class="panel-body animated fadeUp" ng-submit="submit(productListForm)" novalidate>

        <!-- components.manage-product_list success -->
        <div class="panel p-sm bg-success animated fadeIn color-w" ng-show="success.length && productListForm.$pristine">
            <h4 class="font2">Success!</h4>
            <p>{{ success }}</p>
        </div>

        <!-- components.manage-product_list error -->
        <!--<div class="panel p-sm bg-danger animated fadeIn color-w" ng-show="hasError( productListForm ) || errors.length">
            <h4 class="font2">Form Errors</h4>
            <div>
                <ul>

                    &lt;!&ndash; General Errors &ndash;&gt;
                    <li ng-repeat="error in errors">
                        {{ error }}
                    </li>

                </ul>
            </div>
        </div>-->

        <!-- components.manage-product_list -->
        <main id="product_list-management" ng-show="productList" class="border panel panel-default b-primary bt-sm">
            <header class="font2 panel-heading">

                <i class="fa fa-{{ page.icon }}"></i>
                {{ page.action }} {{ page.title }}

            </header>
            <div class="panel-body">

                <!-- ProductList Name -->
                <div class="form-group clearfix" ng-class="{ 'has-error' : productListForm.name.$invalid && productListForm.name.$dirty , 'has-success' : !productListForm.name.$invalid && productListForm.name.$dirty }">
                    <label for="name">Name</label>
                    <span class="input-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Product List Name" ng-model="productList.name">
                    </span>
                </div>

                <!-- ProductList Date -->
                <div class="form-group clearfix" ng-class="{ 'has-error' : productListForm.date.$invalid && productListForm.date.$dirty , 'has-success' : !productListForm.date.$invalid && productListForm.date.$dirty }">
                    <label for="date" class="control-label">Date:</label>
                    <div class="input-group">
                        <input type="text" class="form-control "
                               uib-datepicker-popup
                               ng-model="productList.date"
                               is-open="datepickerOptions.open"
                               datepicker-options="datepickerOptions"
                               close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>

                <!-- ProductList Time -->
                <div class="form-group clearfix" ng-class="{ 'has-error' : productListForm.time.$invalid && productListForm.time.$dirty , 'has-success' : !productListForm.time.$invalid && productListForm.time.$dirty }">
                    <label for="time">Time:</label>
                    <div class="input-group">
                        <div uib-timepicker id="time" name="time" ng-model="productList.date"></div>
                    </div>
                </div>

                <!-- ProductList Time -->
                <div class="form-group clearfix">
                    <label>Products:</label>
                    <div class="input-group">
                        <div class="form-inline" ng-repeat="(product_index, product) in productList.products">
                            <div class="row">
                                <div class="form-group col-md-1 col-xs-3 clearfix">
                                    <input type="text" class="form-control" ng-disabled="true" ng-value="{{product_index + 1 + '.'}}">
                                </div>
                                <div class="form-group col-md-3 col-xs-9 clearfix">
                                    <label class="sr-only" for="product-{{product_index}}-name">Name</label>
                                    <input type="text" class="form-control" id="product-{{product_index}}-name" name="product-{{product_index}}-name" ng-model="product.name" placeholder="Name">
                                </div>
                                <div class="form-group col-md-2 clearfix">
                                    <label class="sr-only" for="product-{{product_index}}-cost">Cost</label>
                                    <input type="number" min="0" class="form-control" id="product-{{product_index}}-cost" name="product-{{product_index}}-cost" ng-model="product.cost" placeholder="Cost">
                                </div>
                                <div class="form-group col-md-2 clearfix">
                                    <label class="sr-only" for="product-{{product_index}}-amount">Amount</label>
                                    <input type="number" min="0" class="form-control" id="product-{{product_index}}-amount" name="product-{{product_index}}-amount" ng-model="product.amount" placeholder="Amount">
                                </div>
                                <div class="form-group col-md-2 clearfix" ng-if="productCategorys">
                                    <label class="sr-only" for="product-{{product_index}}-category">Category:</label>
                                    <div class="input-group">
                                        <multiselect
                                                name="product-{{product_index}}-category"
                                                options="productCategorys.data"
                                                selected-model="product.category"
                                                extra-settings="productCategorys.settings"
                                                translation-texts="{ buttonDefaultText: 'Category' }"
                                                ng-dropdown-multiselect="productCategorys"
                                        ></multiselect>
                                    </div>
                                </div>
                                <div class="form-group col-md-2 clearfix">
                                    <button type="button" class="btn btn-success col-xs-6" ng-click="pushProduct()">Add</button>
                                    <button type="button" class="btn btn-danger col-xs-6" ng-click="pullProduct(product_index)" ng-disabled="productList.products.length < 2">Dell</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">

                    <div class="row">
                        <div class="col-md-6">
                            <!-- Back Button -->
                            <div class="pull-left">
                                <a ng-click="back( '/product_list' )"
                                   class="btn bgeee coloraaa hoverbg555 hovercolorfff">
                                    <i class="fa fa-arrow-circle-o-left"></i>
                                    Back to List
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">

                                <!-- Form Error Notices -->
                                <small class="colorred submitnotice" ng-show="hasError( productListForm )">
                                    You must fix any form errors before proceeding: * See Errors at Top *
                                </small>

                                <!-- Submitting Wait Notice -->
                                <small class="colorinfo submitnotice" ng-show="page.sending">
                                    <i class="fa fa-circle-o-notch fa-spin colorinfo"></i>
                                    {{ page.running }} - Please wait.
                                </small>

                                <!-- Submit Button -->
                                <!--<button name="submit" class="btn fright" ng-class="hasError( productListForm ) || errors.length ? 'btn-primary' : 'btn-primary'" ng-disabled="productListForm.$invalid || sending">-->
                                <button name="submit" class="btn fright btn-primary">
                                    <i class="fa fa-{{ page.icon }}"></i>
                                    {{ page.action }}
                                </button>

                                <!-- /End .fright -->
                            </div>
                        </div>
                    </div>

                    <!-- /End .form-group -->
                </div>

                <!-- /End .panel-body -->
            </div>

        </main>

    </form>
</div>