<!-- content HEADER -->
<!-- ========================================================= -->
<div class="content-header">
    <!-- leftside content header -->
    <div class="leftside-content-header">
        <ul class="breadcrumbs">
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">Config</a></li>
        </ul>
    </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
<div class="row animated fadeInUp">
    <div class="col-sm-12 col-lg-9">
        <div class="row">
            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
            <!--Config-->
            <div class="col-sm-12">
                <h4 class="section-subtitle"><b>Config</b></h4>
                <div class="panel">
                    <div class="panel-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal form-stripe" ng-submit="submit(configForm)" name="configForm" method="post"  novalidate>
                                    <!--Merchant ID-->
                                    <div class="form-group">
                                        <label for="merchant_id" class="col-sm-2 control-label">Merchant ID</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="merchant_id" placeholder="Merchant ID" ng-model="config.merchant_id">
                                            <span class="help-block"><i class="fa fa-info-circle mr-xs"></i>A block of help text that breaks onto a new line and may extend beyond one line.</span>
                                        </div>
                                    </div>
                                    <!--Merchant pass-->
                                    <div class="form-group">
                                        <label for="merchant_pass" class="col-sm-2 control-label">Merchant password</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="merchant_pass" placeholder="Merchant password" ng-model="config.merchant_pass">
                                            <span class="help-block"><i class="fa fa-info-circle mr-xs"></i>A block of help text that breaks onto a new line and may extend beyond one line.</span>
                                        </div>
                                    </div>
                                    <!--Card Number-->
                                    <div class="form-group">
                                        <label for="merchant_pass" class="col-sm-2 control-label">Card Number</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="card_number" placeholder="Card Number" ng-model="config.card_number">
                                            <span class="help-block"><i class="fa fa-info-circle mr-xs"></i>A block of help text that breaks onto a new line and may extend beyond one line.</span>
                                        </div>
                                    </div>
                                    <!--Submit-->
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-primary">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
        </div>
    </div>
</div>
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->